@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background: radial-gradient(ellipse at top, #000000, #0f0818, #000000);
  color: #f1f1f1;
  position: relative;
}

.dark::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/dark-grid.svg");
  opacity: 0.25;
  background-position: center;
  mask-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
  -webkit-mask-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
  pointer-events: none;
  z-index: -1;
}

.light {
  background: radial-gradient(ellipse at top, #ffffff, #e2e0f7, #ffffff);
  color: #333;
  position: relative;
}

.light::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/light-grid.svg");
  opacity: 0.1;
  background-position: center;
  mask-image: linear-gradient(
    180deg,
    rgb(240, 240, 240),
    rgba(255, 255, 255, 0)
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgb(240, 240, 240),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
  z-index: -1;
}

pre {
  background-color: #2e2e2e;
  color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.375rem;
  font-family: "Courier New", monospace;
  border: 1px solid #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark pre {
  background-color: #232323;
  color: #e1e1e1;
}

.light pre {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #4f6c94;
}
