.bg-submenu-hover {
  background-color: #3b4a5a;
}

.bg-item {
  background-color: #3b4a5a;
}

.bg-item-hover {
  background-color: #53657d;
}

.bg-card {
  background-color: #ffffff;
}

.hover\:bg-accent:hover {
  background-color: #9d9ea0;
  color: #ffffff;
}

.text-accent-foreground {
  background-color: #9d9ea0;
  color: #ffffff;
}

.dark .bg-submenu-hover {
  background-color: #53657d;
  box-shadow: 0 4px 6px rgba(255, 254, 254, 0.2);
}

.dark .bg-item {
  background-color: #53657d;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.dark .bg-item-hover {
  background-color: #3b4a5a;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.dark .bg-card {
  background-color: #111111;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  border: #ffffff;
}

.dark .hover\:bg-accent:hover {
  background-color: #747a7f;
}

.dark .text-accent-foreground {
  background-color: #747a7f;
  color: #ffffff;
}

.light .bg-submenu-hover {
  background-color: #3b4a5a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.light .bg-item {
  background-color: #3b4a5a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.light .bg-item-hover {
  background-color: #53657d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.light .bg-card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: #ffffff;
}

.light .hover\:bg-accent:hover {
  background-color: #9d9ea0;
  color: #ffffff;
}

.light .text-accent-foreground {
  background-color: #9d9ea0;
  color: #ffffff;
}
